{% block content %}
<a href="{% url 'list_books' %}">Back to Book List</a>
<h1>Your Favorite Book(s):</h1>
<div class="flex flex-wrap">
    {% for favorite in favorites %}
        <div class="w-33 pa3">
            <h2><a href="{% url 'book_detail' favorite.book.pk %}">{{ favorite.book.title }}</a> by: {{ favorite.book.author }}</h2>
                <p>{{ favorite.book.description }}</p>
                <p>More info <a href="{{ book.url }}">here</a></p>
                <p>| added {{ favorite.book.created_at }} | {{ favorite.book.category }}</p>
        </div>
<hr>
    {% endfor %}
</div>  
{% endblock %}