{% extends "base.html" %}

{% block content %}
<br>
<h1>Your Favorite Books</h1>
<div class="flex flex-wrap">
    {% for book in books %}
    <div class="w-33 pa3">
        <h2><a href="{% url 'notes_book' pk=book.pk %}">{{ book.title }}</a> by: {{ book.author }}</h2>
            <p>{{ book.description }}</p>
            <p>More info <a href="{{ book.url }}">here</a></p>
            {% csrf_token %}
            {{form.as_p}}
            <p><button type='submit'>Favorite</button> | added {{ book.created_at }} | {{ book.category }}</p>
    </div>
   
    <hr>
    {% endfor %}
</div>  
{% endblock %}