{% extends "base.html" %}

{% block content %}
<br>
<h1>Recently Added Books</h1>
<div class="flex flex-wrap">
    {% for book in books %}
    <div class="w-33 pa3">
        <h2><a href="{% url 'notes_book' pk=book.pk %}">{{ book.title }}</a> by: {{ book.author }}</h2>
            <p>{{ book.description }}</p>
            <p>More info <a href="{{ book.url }}">here</a></p>
            <p>| added {{ book.created_at }} | {{ book.category }}</p>
                <p>
                    <a href="{% url 'add_note' pk=book.pk %}">Add Note</a> |  
                    <a href="{% url 'edit_book' pk=book.pk %}">Edit Book</a> |    
                    <a class="red" href="{% url 'delete_book' pk=book.pk %}">Delete Book</a>
                </p>
    </div>
    <hr>
    {% endfor %}
</div>  
{% endblock %}